<?xml version="1.0"?>
<config>
    <modules>
        <Mfonsatti_Rma>
            <version>0.1.0</version>
        </Mfonsatti_Rma>
    </modules>
    <global>
        <models>
            <mfonsatti_rma>
                <class>Mfonsatti_Rma_Model</class>
                <resourceModel>mfonsatti_rma_resource</resourceModel>
            </mfonsatti_rma>
            <mfonsatti_rma_resource>
                <class>Mfonsatti_Rma_Model_Resource</class>
            </mfonsatti_rma_resource>
        </models>
        <blocks>
            <mfonsatti_rma>
                <class>Mfonsatti_Rma_Block</class>
            </mfonsatti_rma>
            <customer>
                <rewrite>
                    <account_navigation>Mfonsatti_Rma_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <mfonsatti_rma>
                <class>Mfonsatti_Rma_Helper</class>
            </mfonsatti_rma>
        </helpers>
        <resources>
            <mfonsatti_rma_setup>
                <setup>
                    <module>Mfonsatti_Rma</module>
                </setup>
            </mfonsatti_rma_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <mfonsatti_rma>
                    <file>mfonsatti_rma.xml</file>
                </mfonsatti_rma>
            </updates>
        </layout>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Mfonsatti_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
    </frontend>
</config>